.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 100px;

  h1 {
    font-size: 24px;
    font-weight: 400;
    user-select: none;
    margin-left: 110px;
    @media (max-width: 812px) {
      justify-content: center;
      margin-left: 0;
    }
  }
}

.categories {
  display: flex;
  background-color: white;
  padding-top: 24px;
  flex-wrap: wrap;
  justify-content: center;
  border-top: 1px solid #ebeff0;

  &:not(:nth-of-type(3)) {
    border-radius: 0px 0px 18px 18px;
    box-shadow: 0px 10px 15px 0px #db918f;
    border-bottom: 3px solid #db918f;
  }
  @media (max-width: 812px) {
    padding-top: 0px;
    justify-content: center;
  }

  &__name {
    margin-left: 55px;
    margin-top: 125px;
    cursor: pointer;

    @media (max-width: 812px) {
      margin-left: 0;
    }
  }

  &__item.hidden {
    width: 400px;
    height: 420px;
  }

  &__item {
    user-select: none;
    width: 400px;
    background-color: white;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    flex-direction: column;
    margin-left: 40px;
    display: flex;
    margin-bottom: 30px;

    box-shadow: 0px 11px 13px 8px rgba(0, 0, 0, 0.2);

    @media (max-width: 812px) {
      margin-left: 0px;
      padding-left: 0px;
      margin-right: 0px;
      width: 100%;
      flex-direction: column;
      justify-content: center;
    }
  }

  img {
    max-height: 205px;
    object-fit: cover;
    border-top-right-radius: 25px;
  }

  &__body {
    border-bottom-left-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 24px 0px 24px;
    // box-shadow: 10px 10px 15px rgb(0 0 0 / 20%);
    button:disabled {
      background-color: #c9d6f0;
      color: black;
      cursor: default;
    }

    button {
      background-color: white;
      border: none;
      user-select: none;
      border-top-right-radius: 8px;
      border-bottom-left-radius: 8px;
      background-color: #478dff;
      width: 100px;
      color: white;
      cursor: pointer;
    }
  }

  &__content {
    flex-direction: column;
  }

  &__title {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__description {
    font-family: sans-serif;
    font-size: 12px;
    line-height: 17px;
    color: #94a2ae;
    display: flex;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }

  &__price {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}
