.basketSection {
  flex: 1 1 auto;
  padding-bottom: 100px;
  padding-top: 125px;
  display: flex;
  align-items: center;

  .listWrapper {
    background-color: #fdfcfc;
    width: 650px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 25px;
    flex-direction: column;
  }

  label {
    user-select: none;
    cursor: pointer;
  }

  ul {
    padding: 0;
    margin-top: 0;
    li {
      list-style: none;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
  }

  textarea {
    margin-top: 5px;
    min-width: 300px;
    max-width: 300px;
    min-height: 150px;
    max-height: 150px;
    outline: none;
    padding-left: 10px;
    border: 2px solid #e6e6e6;
    border-radius: 10px;

    ::placeholder {
      width: 255px;
      height: 22px;
      left: 50px;
      font-style: normal;
      font-size: 22px;
      letter-spacing: 0.01em;
      color: #999999;
    }
  }

  input[type="tel"] {
    outline: none;
    border-radius: 4px;
    border: 1px solid #e6e6e6;

    ::placeholder {
      left: 50px;
      font-style: normal;
      color: #999999;
      letter-spacing: 0.01em;
    }
  }
  .basket {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &__checkbox {
      label {
        cursor: pointer;
      }
    }

    &__button {
      cursor: pointer;
      border: none;
      width: 270px;
      height: 48px;
      margin-bottom: 25px;
      border-radius: 25px;
      background-color: #478dff;
      color: white;
      margin-top: 25px;
    }

    &__totalAmountButton {
      cursor: pointer;
      align-items: center;
      justify-content: center;
      border: none;
      width: 270px;
      height: 48px;
      display: flex;
      margin-bottom: 25px;
      border-radius: 25px;
      position: absolute;
      bottom: 0;
      left: 40px;
      background-color: #478dff;
      color: white;

      &:disabled {
        background-color: #d3d3d3;
        color: black;
        cursor: default;
      }
    }
  }
}

.emptyBasket {
  width: 150px;
  height: 150px;
  color: #bebebe;
}

.cardWrapper {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 812px) {
    width: 100%;
  }
}

.totalAmount {
  position: sticky;
  display: flex;
  margin-bottom: 0px;
  top: 120px;
  margin-left: 0;
  flex-direction: column;
  background-color: white;
  border-radius: 0px 25px 25px 25px;

  width: 363px;
  height: 450px;
  margin-left: 0px;

  @media (max-width: 812px) {
    display: none;
  }
}
