.basketSection {
  flex: 1 1 auto;
  padding-bottom: 100px;
  padding-top: 125px;
  display: flex;
  align-items: center;

  .listWrapper {
    background-color: #fdfcfc;
    width: 650px;
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding-bottom: 25px;
    flex-direction: column;
  }

  .basket {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;

    &__button {
      cursor: pointer;
      border: none;
      width: 270px;
      height: 48px;
      margin-bottom: 25px;
      border-radius: 25px;
      background-color: #478dff;
      color: white;
      margin-top: 25px;
    }

    &__totalAmountButton {
      position: absolute;
      bottom: 0;
      cursor: pointer;
      border: none;
      width: 270px;
      height: 48px;
      margin-bottom: 25px;
      border-radius: 25px;
      background-color: #478dff;
      color: white;

      &:disabled {
        background-color: #d3d3d3;
        color: black;
        cursor: default;
      }
    }
  }
}

.emptyBasket {
  width: 150px;
  height: 150px;
  color: #bebebe;
}

.cardWrapper {
  display: flex;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 812px) {
    width: 100%;
  }
}

.totalAmount {
  position: sticky;
  display: flex;
  margin-bottom: 0px;
  top: 120px;
  margin-left: 0;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 25px;
  width: 363px;
  height: 450px;
  margin-left: 0px;

  @media (max-width: 812px) {
    display: none;
  }
}
