.header {
  display: flex;
}

.underHeader {
  user-select: none;
  width: 100%;
  margin-top: 65px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-right: 1px solid #ebeff0;
  border-bottom: 1px solid #e2e8eb;
  z-index: 24;
  border-bottom-left-radius: 15px;
  ul {
    display: flex;
    list-style: none;
    color: black;
    padding: 0;
    margin: 0;
  }
}

.underHeaderButton {
  &:hover {
    color: white;
    background-color: #dc3d3d;
    transition: background-color 1s;
  }
  &:nth-child(1) {
    border-bottom-left-radius: 15px;
  }
  &:not(:nth-child(3)) {
    border-right: 1px solid #ebeff0;
  }
  a {
    color: black;
    text-decoration: none;
    display: flex;
    padding: 12px 15px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 400;

    &:hover {
      color: white;
    }
  }
}

.underHeaderButton.enabled {
  background-color: #dc3d3d;
  color: white;

  a {
    color: white;
  }
}

.react-select {
  &__menu {
    background-color: white;
    padding: 12px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
  }

}

.appHeader {
  user-select: none;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #ebeff0;
  z-index: 25;

  &__aboutUs {
    a {
      text-decoration: none;
      color: #8a9094;
      &:hover {
        color: #dc3d3d;
      }
    }
  }

  select {
    border: none;
    outline: none;
    cursor: pointer;
  }

  option {
    border-radius: 25px;
    border: 1px solid #e2e8eb;
  }

  &__aboutUs.active {
    a {
      color: #dc3d3d;
      text-decoration: underline;
    }
  }

  &__shopCartButton {
    cursor: pointer;
    transition: color 500ms ease;

    &:hover {
      color: #dc3d3d;
    }
  }

  &__shopCartButton.active {
    color: #dc3d3d;
  }

  &__BiMenu {
    cursor: pointer;
    transition: color 500ms ease;
    display: flex;

    &:hover {
      color: #dc3d3d;
    }
  }

  &__BiMenu.active {
    color: #dc3d3d;
  }

  &__itemName {
    font-size: 20px;
    color: black;
  }

  &__section {
    display: flex;

    svg {
      width: 55px;
      height: 55px;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        display: flex;
        align-items: center;
        padding: 10px 15px;
        font-size: 14px;
        margin-left: 5px;
      }
    }
  }

  &__section:nth-child(2) {
    padding-right: 60px;
    margin: 0;

    @media (max-width: 812px) {
      padding-right: 0;
    }

    svg {
      width: 24px;
      height: 30px;
    }

    .item__count {
      background-color: red;
      width: 13px;
      height: 13px;
      border-radius: 50%;
      align-items: center;
      display: flex;
      position: absolute;
      margin-left: 16px;
      justify-content: center;

      span {
        color: white;
        font-weight: 700;
        font-size: 10px;
      }
    }
  }

  &__item {
    padding: 10px 15px;
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
  }

  .headerButton {
    a {
      color: black;
    }
  }
}
