body {
  z-index: 10;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swiper {
  height: 500px;
  border-radius: 25px;
  width: 1440px;
}
.swiper img {
  border-top-left-radius: 25px;
}
@media (max-width: 812px) {
  .swiper {
    width: 370px;
  }
}

:root::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}
:root::-webkit-scrollbar-thumb {
  border-radius: 25px;
  background: #d2d2d2;
}

.catalog {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.catalog h1 {
  display: flex;
  margin-top: 0;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  justify-content: center;
}
@media (max-width: 812px) {
  .catalog h1 {
    justify-content: center;
    margin-left: 0;
  }
}

.product {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  padding-top: 80px;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
}
.product__item {
  width: 60%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
@media (max-width: 812px) {
  .product__item {
    flex: 1 0 100%;
    margin-top: 25px;
  }
}
.product__item img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.product__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 24px;
}
.product__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product__title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}
.product__weight {
  font-size: 12px;
  line-height: 17px;
  color: #94a2ae;
  margin-bottom: 16px;
}
.product__description {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #94a2ae;
}
.product__footer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.product__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}
.product__button {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #ffcd00;
  border-radius: 18px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.product span {
  display: block;
  position: absolute;
  background-color: white;
  width: 15px;
  height: 3px;
}
.product span:nth-child(2) {
  transform: rotate(90deg);
}

.detail {
  justify-content: center;
  padding-top: 500px;
}
.detail img {
  max-height: 209px;
  border-radius: 20px 20px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.detail__item {
  display: flex;
  align-items: flex-end;
  margin-left: 55px;
  border-radius: 20px;
  margin-bottom: 25px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  cursor: pointer;
  height: 209px;
}
.detail__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}
.detail__content {
  flex-direction: column;
}
.detail__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 16px;
}

.header {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 0;
  background-color: white;
  border-bottom: 1px solid #ebeff0;
  z-index: 25;
}
.header__itemName {
  font-size: 20px;
  color: black;
}
.header__section {
  display: flex;
  align-items: center;
}
.header__section ul {
  display: flex;
  list-style: none;
  color: black;
  padding: 0;
  margin: 0;
}
.header__section ul li {
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
  font-weight: 400;
}
.header__section ul a {
  color: black;
  text-decoration: none;
}
.header__section ul a:hover {
  text-decoration: underline;
}
.header__item {
  padding: 10px 15px;
  font-size: 20px;
  margin-left: 5px;
  cursor: pointer;
}
.header .headerButton a {
  color: black;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media (max-width: 812px) {
  .categories {
    justify-content: center;
  }
}
.categories__name {
  margin-left: 55px;
  margin-top: 125px;
  cursor: pointer;
}
@media (max-width: 812px) {
  .categories__name {
    margin-left: 0;
  }
}
.categories__item {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  margin-right: 40px;
  width: 400px;
  height: 413px;
  flex-direction: column;
  display: flex;
  margin-bottom: 30px;
}
@media (max-width: 812px) {
  .categories__item {
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 0px;
    flex-direction: column;
    justify-content: center;
  }
}
.categories img {
  max-height: 205px;
  -o-object-fit: cover;
     object-fit: cover;
}
.categories__body {
  border-bottom-left-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 24px 0px 24px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
}
.categories__body button:disabled {
  background-color: #c9d6f0;
  color: black;
  cursor: default;
}
.categories__body button {
  background-color: white;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color: #478dff;
  width: 100px;
  color: white;
  cursor: pointer;
}
.categories__content {
  flex-direction: column;
}
.categories__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 20px;
  margin-bottom: 16px;
  margin-top: 0px;
}
.categories__description {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 17px;
  color: #94a2ae;
  display: flex;
}
.categories__footer {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.categories__price {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.footer {
  border-top: 1px solid #ebeff0;
  background-color: #141414;
  box-shadow: 0px 10px 15px rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  padding-top: 0;
}
@media (max-width: 812px) {
  .footer {
    align-items: center;
    flex-direction: column;
    white-space: nowrap;
  }
}
.footer__section {
  padding-top: 53px;
  padding-bottom: 40px;
  color: #828282;
}
.footer .footerLogo img {
  height: 30px;
  width: 146px;
  padding-top: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media (max-width: 812px) {
  .footer .footerDelivery {
    text-align: center;
  }
}
.footer .footerDelivery a {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  font-size: 16px;
  line-height: 20px;
  color: #bdbdbd;
}
.footer .footerNav ul {
  padding: 0;
  list-style: none;
}
@media (max-width: 812px) {
  .footer .footerNav ul {
    text-align: center;
  }
}
.footer .footerNav ul li {
  cursor: pointer;
  margin-bottom: 13px;
  font-size: 14px;
  line-height: 20px;
  font-family: sans-serif;
}
.footer .footerNav ul li:hover {
  text-decoration: underline;
}
.footer .footerAppTitle {
  font-size: 12px;
  line-height: 17px;
  color: #bdbdbd;
}
@media (max-width: 812px) {
  .footer .footerAppTitle {
    text-align: center;
  }
}
.footer .footerLogo {
  display: flex;
  margin-top: 10px;
}
.footer .footer__itemLogo {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}
.footer .GoogleLogo {
  margin-right: 10px;
  color: #bdbdbd;
}
.footer .GoogleLogo:hover {
  color: #478dff;
}
.footer .AppleLogo {
  width: 110px;
  color: #bdbdbd;
}
.footer .AppleLogo:hover {
  color: #478dff;
}

.PasswordCheckEye {
  position: relative;
}
.PasswordCheckEye input[type=text] {
  display: block;
  border-radius: 4px;
  margin-left: 39px;
  padding: 16px 17px;
  width: 74%;
  margin-top: 11px;
  background: #f5f7fa;
  border: 1px solid #c9d6f0;
  outline: none;
}
@media (max-width: 812px) {
  .PasswordCheckEye input[type=text] {
    margin-left: 25px;
  }
}
.PasswordCheckEye div {
  position: absolute;
  top: 13px;
  left: 82%;
  width: 24px;
  height: 23px;
  background: url("../public/img/view.svg") no-repeat;
  cursor: pointer;
}
.PasswordCheckEye div :hover {
  opacity: 0.6;
}
@media (max-width: 812px) {
  .PasswordCheckEye div {
    left: 78%;
  }
}

.authForm {
  width: 445px;
  height: 100%;
  border-radius: 10px;
  height: 500px;
  background-color: #ffffff;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
}

.MainFormLogin {
  border-radius: 10px;
  width: 445px;
  background-color: #ffffff;
}
@media (max-width: 812px) {
  .MainFormLogin {
    width: 350px;
  }
}
.MainFormLogin i {
  margin: 0px 41px;
  color: #fe2e2e;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
}
@media (max-width: 812px) {
  .MainFormLogin i {
    margin-left: 25px;
  }
}
.MainFormLogin p {
  color: #fe2e2e;
  padding: 1px 40px;
  margin-top: 0px;
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

input[type=email] {
  display: block;
  border-radius: 4px;
  margin-left: 39px;
  padding: 16px 17px;
  width: 74%;
  margin-top: 11px;
  background: #f5f7fa;
  border: 1px solid #c9d6f0;
  outline: none;
}
@media (max-width: 812px) {
  input[type=email] {
    margin-left: 25px;
  }
}

input[type=password] {
  display: block;
  border-radius: 4px;
  margin-left: 39px;
  padding: 16px 17px;
  width: 74%;
  margin-top: 11px;
  background: #f5f7fa;
  border: 1px solid #c9d6f0;
  outline: none;
}
@media (max-width: 812px) {
  input[type=password] {
    margin-left: 25px;
  }
}

input[type=submit] {
  margin: 16px auto 10px;
  padding: 14px;
  display: block;
  width: 82%;
  color: #333333;
  font-weight: 500;
  font-size: 16px;
  font-family: "Avenir Next";
  background-color: #75ebeb;
  border-radius: 4px;
  border: 1px solid #75ebeb;
  cursor: pointer;
}
@media (max-width: 812px) {
  input[type=submit] {
    margin-left: 25px;
  }
}

.basketSection {
  flex: 1 1 auto;
  padding-top: 100px;
  display: flex;
  justify-content: center;
}
.basketSection .basket {
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  height: 80%;
  width: 60%;
  justify-content: center;
  align-items: flex-end;
}
.basketSection button {
  cursor: pointer;
  border: none;
  width: 21rem;
  height: 3rem;
  margin-bottom: 25px;
  border-radius: 25px;
  background-color: #478dff;
  color: white;
}
.basketSection button:disabled {
  background-color: #d3d3d3;
  color: black;
  cursor: default;
}

.basketPaySection {
  flex: 1 1 auto;
  padding: 100px;
  display: flex;
  justify-content: center;
}
.basketPaySection .basketPay {
  background-color: white;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  display: flex;
  height: 80%;
  width: 60%;
  justify-content: center;
  align-items: flex-end;
}/*# sourceMappingURL=index.css.map */